body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    text-align: center;
    min-height: 100vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 4vw;
    margin-bottom: 20px;
}

.block, .new-block {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block {
    width: 100%;
    max-width: 700px;
}

.data {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    align-items: center;
    justify-content: left;
    white-space: pre-wrap;
    flex-wrap: wrap;
    text-align: left;
}

#n-data {
    margin-bottom: 10px;
}

.data label {
    font-weight: bold;
    margin: auto 20px auto 0;
    flex: 1 1 auto;
    max-width: 100px
    text-align: left;
}

.data input {
    width: 400px;
    flex: 1 1 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 100vw;
    overflow-x: auto;
}

.hashes p {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}

.hash {
    background-color: #e0ffe0;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    font-family: monospace;
    font-size: 15px;
    margin-left: 0;
}

.p_hash {
    font-size: 15px;
    color: #005926;
    font-family: monospace;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
}

.genesis-block {
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.genesis-block p {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.genesis-block span {
    font-weight: normal;
    margin: 0 20px 0 0;
}

.block-number {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.new-block {
    display: flex;
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.add-block {
    align-items: center;
    margin-top: 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-block:hover {
    background-color: #ff4757;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    padding: 5px;

    max-width: 100vw;
}

form input {
    width: 400px;
    box-sizing: border-box;
    max-width: 100vw;
}

form button {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 768px) {
    .title {
        font-size: 6vw;
    }

    .block, .new-block {
        padding: 10px;
    }

    .data label {
        text-align: center
    }

    form input {
        max-width: 100vw;
        flex: 1 1 auto;
        text-align: center
    }

    .data input {
        max-width: 100vw;
        flex: 1 1 auto;
    }

    .hash {
        margin-left: 0;
    }

    .genesis-block {
        justify-content: center;
    }

    .block-number {
        text-align: center;
    }

    .hashes p {
        text-align: center;
    }


}
